[Desktop Entry]
Type=Application
Name=Yadpak Uninstall
Icon=application-vnd.flatpak.ref
Exec=yadpak uninstall %c --title %c --search-column=3
Path=/tmp
Terminal=true
# Actions=Desc;App;UserName;UserDesc;UserApp;
Actions=UserName;
Categories=Settings;

[Desktop Action Desc]
Name=Yadpak Uninstall (Description)
Exec=yadpak uninstall %c --title %c --search-column=4

[Desktop Action App]
Name=Yadpak Uninstall (Appication ID)
Exec=yadpak uninstall %c --title %c --search-column=5

[Desktop Action UserName]
Name=Yadpak User Uninstall
Exec=env YADPAK_DIR='--user' yadpak uninstall %c --title %c --search-column=3

[Desktop Action UserDesc]
Name=Yadpak User Uninstall (Description)
Exec=env YADPAK_DIR='--user' yadpak uninstall %c --title %c --search-column=4

[Desktop Action UserApp]
Name=Yadpak User Uninstall (Appication ID)
Exec=env YADPAK_DIR='--user' yadpak uninstall %c --title %c --search-column=5
